<?php
// Importa autoload do Composer
require_once realpath(path: __DIR__ . '/../vendor/autoload.php');

use Dotenv\Dotenv;
use KrothiumAPI\KrothiumAPI;

// Carrega variáveis de ambiente
$dotenv = Dotenv::createImmutable(paths: realpath(path: __DIR__ . '/../'));
$dotenv->load();

// ======================================
// Inicializa KrothiumAPI com configs
// ======================================
KrothiumAPI::init(config: [
    'app' => [
        'mode' => 'DEV', // DEV | PROD
    ],
    'paths' => [
        'root' => realpath(path: __DIR__ . "/.."),
        'src' => realpath(path: __DIR__ . "/../src"),
        'module' => realpath(path: __DIR__ . "/../src/Module"),
        'storage' => realpath(path: __DIR__ . "/../storage"),
        'component' => realpath(path: __DIR__ . "/../src/Common/Component"),
    ],
    'router' => [
        'base_path' => '',
        'allowed_origins' => ['*'],
    ],
    'system' => [
        'enable_session' => true,
        'default_timezone' => 'America/Fortaleza',
    ],
    'errors' => [
        'error_log' => realpath(path: __DIR__ . '/../storage/Logs/php-error.log'),
    ],
    'logger' => [
        'driver' => 'FILE',
        'logDir' => realpath(path: __DIR__ . '/../storage/Logs')
    ],
    'constants' => [
        // Constantes extras específicas da aplicação, se precisar.
    ]
]);

// Importa rotas da API v0

// ============================
// Dispara o roteador
// ============================
KrothiumAPI::routerDispatch();